.aamir-13 {height:120px;}
.bg-grey {background-color:#343A40;}

.aamir-2 {align: left;min-height: 200px;}
.aamir-3 {align:center;min-height: 200px;}
.aamir-4 {align: right;min-height: 200px;}
.aamir-5 {font: black;Style: f005}
.aamir {text: white; background-color:dark;}
.topnav-right {
  float: right;
}